# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResult*

# Misc
.vscode
_ReSharper.*
.idea
*.user
*.suo
*.crunchproject.local.xml
*.crunchsolution.local.xml
ConventionTests*.nupkg
_NCrunch*
*.received.txt
*.orig
packages
ConventionTests.sln.ide/
/.vs/ConventionTests/DesignTimeBuild/.dtbcache.v2
/.vs/ConventionTests/v16/TestStore/0/000.testlog
/.vs/ConventionTests/v16/TestStore/0/testlog.manifest
/artifacts/**
